<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="com.shivam.DebuggerAttachmentDetector"
    version="0.1.0">
    <name>DebuggerAttachmentDetector</name>   
    <!-- ios -->
    <platform name="ios">    
        <config-file target="config.xml" parent="/*">
            <feature name="DebuggerAttachmentDetector">
                <param name="ios-package" value="DebuggerAttachmentDetector" /> 
            </feature>
        </config-file>
        <js-module src="www/DebuggerAttachmentDetector.js" name="DebuggerAttachmentDetector">
            <clobbers target="DebuggerAttachmentDetector" />
        </js-module>
        <header-file src="src/ios/DebuggerAttachmentDetector.h" />
	    <source-file src="src/ios/DebuggerAttachmentDetector.m" />
    </platform>
</plugin>